@font-face {
    font-family: Poppins-Medium;
    src: url(fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: Poppins-Bold;
    src: url(fonts/Poppins/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

@media (prefers-reduced-motion: no-preference){
    *{
        scroll-behavior: smooth;
    }
}

:root{
    --main-theme: #0d0a20;
    --theme-2: #5c51d6;
    --font-color: white;
}

body{
    font-family: Quicksand;
    background-color: var(--main-theme);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    
}

h1, h2, h3{
    font-family: Poppins-Medium, sans-serif;
}