
/* header */

header{
    z-index: 1000;
    width: 100%;
    position: fixed;
    backdrop-filter: blur(10px); /* Apply blur effect */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Optional border for better visibility */
}

.name-color{ 
    color: var(--theme-2);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

ul {
   display: flex;
   align-items: center;
   list-style: none;
   gap: 10px; 
}

li a{
    color: var(--font-color);
    text-decoration: none;
    font-size: 1.3rem;
    transition: color 0.3s ease;
}

li a:hover{
    color: var(--theme-2);

}

.round-btn{
    background-color: var(--theme-2);
    border: 1px solid var(--theme-2);
    border-radius: 2.5rem;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.round-btn:hover{
    background-color: var(--font-color);
    color: var(--theme-2);
}

/* main */

section {
    padding: 0 6rem;
    padding-top: 3.6rem;
}

/* hero-section */
#hero{
    height: 130vh;
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding-top: 10rem;
    background: linear-gradient(
        #0F093E,    
    #251b8b
        
    );
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
}   

#hero h1{
    font-family: Poppins-Bold;
    font-size: 10rem;
    line-height: 1;
}

.hero-text {
    font-weight: bold;
    width: 30rem;
}

.hero-text p {
    margin-bottom: 3rem;
}

.hero-text a {
    color: white;
    text-decoration: none;
    padding: 1rem 2rem;
}

#hero p {
    font-size: 2rem;
}

/* about section */

h3{
    font-size: 2rem;
}

#about p {
    font-size: 1.5rem;
}

#about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

#about > div{
    width: 500px;
}

#about-img{
    width: 500px;
    height: 300px;
    padding: 2rem;
}

/* projects section */

#projects h2{
    font-size: 3rem;
    margin-bottom: 1rem;
}

#projects{
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#project-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 3rem;
    column-gap: 3rem;
}

.card{
    border: 5px solid var(--theme-2);
    border-style: groove;
    border-radius: 5px;
    width: 300px;
    height: 200px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.hovered-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 0;
    background-color: var(--theme-2);
    font-size: 0.8rem;
}

.card-title{
    font-size: 1rem;
    font-weight: bold;
}

#proj-btn {
    margin: 0 auto;
    border-radius: 2.5rem;
}

/* contact section */

#contact {
    padding: 0;
    padding-top: 3.6rem;
}

.wavy-bg {
    background-image: url(./contact-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}

.contact-inner form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin: 1rem 5rem;
    text-align: center;
    width: 25rem;
    max-width: 100%;
    padding: 1.5rem 2.5rem;
    background-image: linear-gradient(to bottom, #3e2ea95b, #3e2ea9);
    backdrop-filter: blur(6px);
    border-radius: 10px;
}

.contact-inner form input, .contact-inner form textarea {
    background: transparent;
    backdrop-filter: blur(6px);
    border-radius: 5px;
    border-style: hidden;
    border: 2px solid var(--theme-2);
    width: 100%;
}

.contact-inner form input:focus, .contact-inner form textarea:focus  {
    border: 2px solid var(white);
    color: white;

}

input[type="submit"] {
    color: white;
}

/* footer */

footer{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

footer a {
    color: white;
}

footer #icon1:hover {
    color: grey;
    transition: color 0.3s ease;

}

footer #icon2:hover {
    color: rgb(22, 96, 180);
    transition: color 0.3s ease;
}

